body{
	font-family:$fuente_gral;
}

nav{
	background-color:$color_cafe;
	padding: 14px 0 10px 0;
	@include menu;
	span{
		padding-top: -20px;
		font-size: $size_bullet;
	}
}

.box{
	background-image:url(../img/slide1.jpg);
	@include slide;
}

.box1{
	background-image:url(../img/slide2.jpg);
	@include slide;
}

.box2{
	background-image:url(../img/slide3.jpg);
	@include slide;
}

.carousel-indicators{
	margin-bottom:40px;
	.active{
	width:13px;
	height:13px;
	background-color:#996600;
	}
}

#cafe{
	width:100%;
	height:400px;
	background-color:$color_crema;
	border-top:solid 2px $color_cafe;
	.img-circle{
		border:solid 10px $color_cremaosc;
	}
}

.caja-servicios{
	margin-top: -50px;
}