
@font-face {
	font-family:fontawesome-webfont;
	src: url(../fonts/fontawesome-webfont.ttf);
}

body{
	font-family:$fuente_gral;
}

nav{
	background-color:$color_cafe;
	padding: 14px 0 10px 0;
	@include menu;
	span{
		padding-top: -20px;
		font-size: $size_bullet;
	}
}

.box{
	background-image:url(../img/slide1.jpg);
	@include slide;
}

.box1{
	background-image:url(../img/slide2.jpg);
	@include slide;
}

.box2{
	background-image:url(../img/slide3.jpg);
	@include slide;
}

.carousel-indicators{
	margin-bottom:40px;
	.active{
	width:13px;
	height:13px;
	background-color:#996600;
	}
}

#cafe{
	width:100%;
	height:400px;
	background-color:$color_crema;
	border-top:solid 2px $color_cafe;
	.img-circle{
		border:solid 10px $color_cremaosc;
	}
	.contenedor-img{
		text-align: center;
	}
}

.caja-servicios{
	margin-top: -50px;
	h3{
		font-size: $size_font_titulos;
		margin: 20px auto;
	}
	p{
		width: 82%;
		font-size: $size_font_servicios;
		font-family:$fuente_nav;
		margin: 0 auto;
		text-align: center;
		line-height: 20px;
		padding-bottom: 30px;	
	}
	a{
		font-size: $size_font_servicios;
		background-color:$color_cremaosc;
		color: $color_cafe;
		padding:2px;
	}
}

#bienvenida{
	padding: $espaciado_seccion;
	background-color:$color_blancohumo;
	font-family:$fuente_nav;
	.img-bienvenida{
		img{
			@include border_blanco;
		}
	}
	h2{
		font-family:$fuente_gral;
		color:$color_naranja;
		margin-top: 0;
	}
	ul{
		margin: 20px auto;
		li{
			list-style-type: none;
			padding-top:10px;
			margin-left: -40px;
		}
		li:before{
			@include bullet;	
		}
	}
	p{
		padding-top: 10px;
	}
}

#empresa{
	padding: $espaciado_seccion;
	background-color:$color_cafeclaro;
	font-family:$fuente_nav;
	color: $color_cremaosc;

	.textos-empresa-col1{
		margin-right: 10px;
	
		img{
			@include border_cafe_img;
			float: left;
		}
		hr{
			width: 300px;
			margin-right:10px;
			border-color:$color_cremaosc;
		}
		hr:after{
			@include separador_der;
		}
	}

	.textos-empresa-col2{
		margin-left:10px;
	
		img{
			@include border_cafe_img;
			float: right;
		}
		hr{
			width: 300px;
			margin-left:10px;
			border-color:$color_cremaosc;
		}
		hr:before{
			@include separador_izq;
		}
	}
}

footer{
	padding: $espaciado_seccion;
	background-color:$color_cafe;
	border-top: solid 1px $color_blancohumo;
	font-family:$fuente_nav;
	color: $color_cremaosc;

	h4{
		padding-bottom: 20px;
	}
	.facebook{
		margin-left:-20px;
		img{
			@include iconos;
		}
	}
	.google{
		img{
			@include iconos;
		}
	}
	.twitter{
		img{
			@include iconos;
		}
	}
	.rss{
		img{
			@include iconos;
		}
	}
	p {
		font-size: $size_font_servicios;
		.fa{
			float: left;
			font-size: $size_quote;
			padding:10px;
		}
	}
	.contact-address{
		.telef{
			font-size: $size_font_titulos;
		}
		.direccion{
			margin-top: 30px;
			margin-bottom:0px;
		}
		.mail{
			span{
				color:$color_naranja;
			}
		}
	}
	hr{
		width: 90%;
		margin-top: 40px;
		padding-bottom: 10px;
		border-color: $color_cremaosc;
		text-align: center;

	}
}