@mixin menu(){
	ul{
		li{
			display:inline-block;
			list-style-type: none;
			a{
				padding: 5px 10px;
				text-decoration: none;
				color:$color_blanco;
			}
			a:hover{
				color:$color_blanco;
				text-decoration: none;
				font-weight: bolder;
			}
		}
	}
}

@mixin slide(){
	width:100%;
    height:350px;
    background-size: cover;
    background-position: center;
}

@mixin bullet(){
	content:$bullet_welcome;
	font-family:$fuente_icon;
	font-size: 14px;	
	padding: 0 8px;
	color: $color_cafeclaro;
}

@mixin border_blanco(){
	border: solid thin $color_blancohumo;
	border-radius: 30px;
}

@mixin border_cafe_img(){
	border: solid thin $color_cafe;
	border-radius: 30px;
}

@mixin separador_der(){
	content:$bullet_hr;
	font-family:$fuente_icon;
	font-size: 12px;	
	color: $color_cremaosc;
	position: absolute;
	top:65px;
}

@mixin separador_izq(){
	content:$bullet_hr;
	font-family:$fuente_icon;
	font-size: 12px;	
	color: $color_cremaosc;
	position: absolute;
	top:65px;
	left:15px;
}

@mixin iconos{
	width: 100px;
	height: 100px;
	background-color:$color_crema;
	border: solid 4px $color_naranja;
	border-radius: 100px;
}

@mixin quote(){
	content:$bullet_quote;
	font-family:$fuente_icon;
	font-size: 50px;	
	color: $color_naranja;
	padding:10px;
	position:static;
	top:10px;
}