$fuente_nav: 'Cairo', sans-serif;
$fuente_gral: 'Open Sans', sans-serif;
$fuente_icon:fontawesome-webfont;
$bullet_welcome: "\f06c";
$bullet_hr: "\f1db";
$bullet_quote: "\f10d";
$size_bullet: 7px;
$size_font_servicios:11px;
$size_font_titulos:18px;
$size_quote: 50px;
$color_cafe: #330000;
$color_cafeclaro: #6b474e;
$color_blanco: white;
$color_blancohumo: whitesmoke;
$color_naranja: #ff7d52;
$color_crema: #ffffcc;
$color_cremaosc: #ffdd99;
$centrar: center;
$centrar_cajas: 0 auto;
$espaciado_seccion: 40px 0;


