$fuente_nav: 'Cairo', sans-serif;
$fuente_gral: 'Open Sans', sans-serif;
$size_font_servicios:11px;
$size_font_titulos:18px;
$color_cafe: #330000;
$color_blanco: white;
$size_bullet: 7px;
$color_crema: #ffffcc;
$color_cremaosc: #ffdd99;
$centrar: center;
$centrar_cajas: 0 auto;

